//imports
@import url('https://fonts.googleapis.com/css?family=Geo:400,400i');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i');

// colours
$title-black: lighten(black, 12%);
$title-black2: lighten(black, 22%);
$seagreen: #2E8B57;
$text-shadow-gray: #999;


