section.gears {
  @include section-gradient();
  padding: 40px 0;

  h2 {
    @include section-title();
    font-size: 20px;
    margin-bottom: 40px;
  }
}

section.gears div.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  .gallery-item {
    width: 100%;
    max-width: 4000px;
    height: 58vw;
    text-align: center;
    position: relative;
    margin: 1em;
    overflow: hidden;

    @include box-shadow();
    @include border-radius();
    
    .image {
      width: 100%;
      height: 100%;
      @include border-radius();
      background-size: cover;
    }

    .info {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, .7);
      opacity: 0;
      -webkit-transition: .4s ease-in-out;
      -moz-transition: .4s ease-in-out;
      transition: .4s ease-in-out;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      p {
        position: relative;
        margin: auto;
        color: white;
        padding: 0;
        @include font-main();
        font-size: 20px;
        font-style: italic;

        -webkit-transform: translate(0, -80px);
        -ms-transform: translate(0, -80px);
        transform: translate(0, -80px);
        opacity: 0;
        -webkit-transition: opacity .2s ease-in, -webkit-transform .3s ease-in;
        transition: opacity .2s ease-in, -webkit-transform .3s ease-in;
        -o-transition: transform .3s ease-in, opacity .2s ease-in;
        transition: transform .3s ease-in, opacity .2s ease-in;
        transition: transform .3s ease-in, opacity .2s ease-in, -webkit-transform .3s ease-in;
      }
    }

    figcaption {
      position: absolute;
      bottom: 10%;
      left: -100%;
      background-color: white;
      color: black;
      font-size: 12px;
      font-family: 'Lato', sans-serif;
      font-style: italic;
      padding: 4px 15px 4px 30px;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      -webkit-transition: left .4s ease-in-out;
      -o-transition: left .4s ease-in-out;
      transition: left .4s ease-in-out;
      cursor: pointer;

      &:hover {
        color: lightblue;
        text-decoration: underline;
      }
    }

    a {
      text-decoration: none;
      color: black;
      -webkit-transition: .4s ease-in-out;
      -o-transition: .4s ease-in-out;
      transition: .4s ease-in-out;
    }

    &:hover .info {
      opacity: 1;
    }

    &:hover .info p {
      opacity: 1;
      -webkit-transform: translate(0, -10px);
      -ms-transform: translate(0, -10px);
      transform: translate(0, -10px);
    }

    &:hover figcaption {
      left: 0;
    }
  }

  // remove margin on the first gallery item for spacing betweent img and h2
  @media screen and (max-width: 500px) { 
    .gallery-item:first-child {margin-top: 0;}
  }
}

// images
section.gears div.gallery div.gallery-item {
  div.image1 {background-image: url('../img/shoes.jpg');}
  div.image2 {background-image: url('../img/chalked-hands.jpg');}
  div.image3 {background-image: url('../img/harness.jpg');}
  div.image4 {background-image: url('../img/belay.jpg');}
  div.image5 {background-image: url('../img/chalk-bag.jpg');}
  div.image6 {background-image: url('../img/climbing-buddy.jpg');}
}

// ****
@include mediaMd {
  section.gears {
    .wrapper { width: 94%; }
    h2 { font-size: 30px; }
  }

  section.gears div.gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;

    .gallery-item {
      margin: 0;
      height: 30vw;
      max-height: 260px;
    }
  }
}
// ****
@include mediaLg {
  
  @include customMedia(800px) {
    section.gears div.gallery {
      -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);

      .gallery-item {
        height: 20vw;
      }
    }
  }
}

